<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="bloks/header :: header"></header>
<div class="container mt-5">
    <h2>Пользователи</h2>
    <div th:each=" el : ${users}" class="alert alert-info mt-2">
        <h3 th:text="${el.id}"/>
        <p th:text="${el.login}"/>
        <p th:text="${el.fio}"/>
        <p th:text="${el.email}"/>
    </div>
</div>

<div th:insert="bloks/feature :: feature"></div>
</body>
</html>