<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Услуги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="bloks/header :: header"></header>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Калькулятор</h1>
    <p class="lead">Введите арабские или римские числа по примеру 1 + 4 или X + VI</p>
</div>
<form action="/uslugi/result" method="post">
    <input type="text" name="primer" placeholder="Введите пример" class="form-control">
    <button type="submit" class="btn btn-succes"> Вычислить</button>
</form>
<div class="container mt-5">
    <h2>Рассчет</h2>
    <div th:each=" el : ${rasscet}" class="alert alert-info mt-2">
        <div> One number=<h3 th:text="${el.Number1}"/></div>
        <div> two number=<p th:text="${el.Number2}"/>
            <div>Operator= <p th:text="${el.operator}"/></div>
            <div>Resault=<p th:text="${el.result}"/></div>
    </div>
</div>


<div th:insert="bloks/feature :: feature"></div>
</body>
</html>